<!-- Generated template for the FormProductComponent component -->
<div>
    <ion-list>
        <ion-item>
            <ion-label floating>ชื่อสินค้า</ion-label>
            <ion-input type="text" [(ngModel)]="product.name" (ionChange)="createProducts()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>รายละเอียดสินค้า</ion-label>
            <ion-input type="text" [(ngModel)]="product.detail" (ionChange)="createProducts()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>ราคา</ion-label>
            <ion-input type="number" [(ngModel)]="product.price" (ionChange)="createProducts()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>รูปสินค้า</ion-label>
            <ion-input type="text" [(ngModel)]="image" (ionChange)="createProducts()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>จัดส่งภายในกี่วัน</ion-label>
            <ion-input type="number" [(ngModel)]="product.preparedays" (ionChange)="createProducts()"></ion-input>
        </ion-item>
        <ion-item *ngIf="dataShipping && dataShipping.length > 0">
            <ion-label floating>วิธีการจัดส่ง</ion-label>
            <ion-select [(ngModel)]="shipping" (ionChange)="selectShipping(shipping)">
                <ion-option *ngFor="let data of dataShipping" [value]="data">{{data.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="dataCate && dataCate.length > 0">
            <ion-label floating>ประเภทสินค้า</ion-label>
            <ion-select [(ngModel)]="product.category" (ionChange)="createProducts()">
                <ion-option *ngFor="let data of dataCate" [value]="data">{{data.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Issize</ion-label>
            <ion-checkbox [(ngModel)]="product.issize" color="secondary" checked="true"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="dataSize && dataSize.length > 0 && product.issize">
            <ion-label floating>Size</ion-label>
            <ion-select [(ngModel)]="product.size" (ionChange)="createProducts()">
                <ion-option *ngFor="let data of dataSize" [value]="data">{{data.detail}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="dataShop && dataShop.length > 0">
            <ion-label floating>ร้านค้า</ion-label>
            <ion-select [(ngModel)]="product.shop" (ionChange)="createProducts()">
                <ion-option *ngFor="let data of dataShop" [value]="data">{{data.name}}</ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item>
            <ion-label>Issize</ion-label>
            <ion-checkbox [(ngModel)]="issize"></ion-checkbox>
        </ion-item> -->
        <!-- <ion-item>
            <ion-input type="text" placeholder="issize" formControlName="issize"></ion-input>
        </ion-item> -->
        <!-- <ion-item>
            <ion-input type="text" placeholder="shop" formControlName="shop"></ion-input>
        </ion-item> -->
        <!-- <ion-item>
            <ion-label>Shipping</ion-label>
            <ion-select [(ngModel)]="shipping">
                <ion-option *ngFor="let data of dataShipping" value="data.name">{{data.name}}</ion-option>
            </ion-select>
        </ion-item> -->
        <!-- <ion-item>
            <ion-input type="text" placeholder="category" formControlName="category"></ion-input>
        </ion-item> -->
        <!-- <button ion-button block class="auth-action-button signup-button" (click)="createProducts()">NEXT</button> -->
    </ion-list>
</div>