<!-- Generated template for the FormProductComponent component -->
<div>
    <ion-list>

        <ion-item>
            <ion-label floating>ชื่อสินค้า</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>รายละเอียดสินค้า</ion-label>
            <!-- <ion-input type="text"></ion-input> -->
            <ion-textarea></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label floating>ราคา</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>จำนวน</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>หน่วย</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>หมวด</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>
</div>