<ion-header>
  <ion-navbar>
    <ion-title>Product Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="contact-card-content">
  <topbar [dataTopBar]="productdetailData"></topbar>

  <ion-list class="details-list">
    <ion-item class="detail-item">
      <ion-row>
        <ion-col width-35>
          <h3 class="categories-title-pomotion">
            <ion-icon name="ios-cash-outline"></ion-icon>
          </h3>
        </ion-col>
        <ion-col width-65 text-right>
          <h3>Price {{productdetailData.price | number}} ฿</h3>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="detail-item" *ngIf="productdetailData.promotions">
      <div *ngFor="let item of productdetailData.promotions">
        <h3 class="categories-title-pomotion">
          <ion-icon name="md-pricetags"></ion-icon> {{'Promotion' | translate}}</h3>
        <h4 class="detail-textHeader">{{item.name}}</h4>
        <p class="detail-text">{{item.desc}}</p>
      </div>
    </ion-item>
    <ion-item class="detail-item" *ngIf="productdetailData.shipping">
      <h3 class="categories-title-pomotion">
        <ion-icon name="md-car"></ion-icon> {{'Shipping' | translate}}</h3>
      <div *ngFor="let item of productdetailData.shipping">
        <span class="detail-textHeader">{{item.shipping}}</span>
      </div>
    </ion-item>
    <ion-item class="detail-item" *ngIf="productdetailData.shipping">
      <h3 class="categories-title-pomotion">
        <ion-icon name="ios-cash"></ion-icon> {{'Payment' | translate}}</h3>
      <div *ngFor="let item of productdetailData.payment">
        <span class="detail-textHeader">{{item.payment}}</span>
      </div>
    </ion-item>

    <ion-item class="detail-item" *ngIf="productdetailData.shop">
      <h3 class="categories-title-pomotion">
        <ion-icon name="md-home"></ion-icon>
        {{'Shop' | translate}}</h3>
      <ion-row>
        <ion-col width-35>
          <span class="detail-textHeader">{{productdetailData.shop.name}}</span>
        </ion-col>
        <ion-col width-65 text-right>
          <rating [(ngModel)]="productdetailData.shop.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false"></rating>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <h3 class="categories-title-pomotion" *ngIf="productdetailData.issize">
    <!-- <ion-icon name="ios-resize-outline"></ion-icon> -->
    {{'Select Size' | translate}}</h3>
  <!-- <preload-image [ratio]="{w:1, h:1}" [src]="productdetailData.size.detail"></preload-image> -->
  <ion-scroll scrollX="true" class="horizontal-categories" *ngIf="productdetailData.size && productdetailData.size.sizedetail && productdetailData.size.sizedetail.length > 0">
    <ion-row padding radio-group class="categories-row">
      <ion-col width-30 class="horizontal-item" *ngFor="let data of productdetailData.size.sizedetail">
        <ion-label>{{data.name}}</ion-label>
        <ion-radio value="{{data.name}}"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <h3 class="categories-title-pomotion" *ngIf="productdetailData.relationProducts">
    {{'RELATEPRODUCT' | translate}}</h3>
  <list-scoll-x [populars]="productdetailData.relationProducts" *ngIf="productdetailData.relationProducts"></list-scoll-x>

  <h3 class="categories-title-pomotion">
    <ion-icon name="md-help"></ion-icon> {{'Question' | translate}}</h3>
  <ion-list>
    <ion-item *ngFor="let item of productdetailData.qa">
      <h4 class="detail-textHeader">
        <ion-icon name="md-person"></ion-icon> {{item.question}}</h4>
      <p class="detail-text">
        <ion-icon name="ios-redo-outline"></ion-icon> {{item.answer}}</p>
    </ion-item>
  </ion-list>

  <h3 class="categories-title-pomotion">
    <ion-icon name="md-star"></ion-icon>
    {{'Review' | translate}}</h3>
  <ion-list>
    <ion-item *ngFor="let item of productdetailData.review">
      <h4 class="detail-textHeader">
        <ion-icon name="md-person"></ion-icon> ({{item.rate}})</h4>
      <rating [(ngModel)]="item.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
        nullable="false"></rating>
        <p class="detail-text">{{item.comment}}</p>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>

</ion-content>

<!--<ion-footer>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
  <button ion-button block color="danger" (click)="addToCart()">{{"ADDCART"| translate}}</button>

</ion-footer>-->