<ion-header>

  <ion-navbar>
    <ion-title>Shop Detail</ion-title>
    <ion-buttons end>
        <button ion-button icon-only *ngIf="!actionEdit" (click)="editProfile()">
          <ion-icon name="build"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="actionEdit" (click)="saveProfile()">
            <ion-icon name="checkmark"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="contact-card-content">
  <topbar [dataTopBar]="shop"></topbar>
  <preload-image [ratio]="{w:4, h:2}" src="https://maps.googleapis.com/maps/api/staticmap?center=13.934247,100.7176626&zoom=15&size=400x300&scale=2&markers=icon:https://s3-us-west-2.amazonaws.com/ionicthemes-apps-assets/ion2FullApp/pin.min.png|13.934247,100.7176626"
    alt="location map" title="shop name - shop detail"></preload-image>
  <ion-list class="details-list">
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <span class="detail-text" *ngIf="!actionEdit">{{tel}}</span>
      <ion-input type="text" placeholder="tel" *ngIf="actionEdit" [(ngModel)]="tel"></ion-input>
    </ion-item>
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="mail"></ion-icon>
      </ion-avatar>
      <span class="detail-text" *ngIf="!actionEdit">{{email}}</span>
      <ion-input type="text" style="width:46px" placeholder="email" *ngIf="actionEdit" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>