<ion-header>

  <ion-navbar>
    <ion-title>Shop Detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="contact-card-content">
  <topbar [dataTopBar]="shop"></topbar>
  <preload-image [ratio]="{w:4, h:2}" src="https://maps.googleapis.com/maps/api/staticmap?center=13.934247,100.7176626&zoom=15&size=400x300&scale=2&markers=icon:https://s3-us-west-2.amazonaws.com/ionicthemes-apps-assets/ion2FullApp/pin.min.png|13.934247,100.7176626"
    alt="location map" title="shop name - shop detail"></preload-image>
  <ion-list class="details-list">
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <span class="detail-text" *ngIf="!edittel">{{tel}}</span>
      <ion-input type="text" placeholder="tel" *ngIf="edittel" [(ngModel)]="tel"></ion-input>
      <span class="edit-btn">
        <ion-icon name="build" (click)="editTel()" *ngIf="!edittel"></ion-icon>
        <ion-icon name="checkmark" (click)="saveTel()" *ngIf="edittel"></ion-icon>        
      </span>
    </ion-item>
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="mail"></ion-icon>
      </ion-avatar>
      <span class="detail-text" *ngIf="!editemail">{{email}}</span>
      <ion-input type="text" style="width:46px" placeholder="email" *ngIf="editemail" [(ngModel)]="email"></ion-input>
      <span class="edit-btn">
        <ion-icon name="build" *ngIf="!editemail" (click)="editEmail()"></ion-icon>
        <ion-icon name="checkmark" *ngIf="editemail" (click)="saveEmail()"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
</ion-content>