<!-- <ion-list text-left>
  <button ion-item>
                <ion-row *ngFor="let itm of items" (click)="selectOrder()">
                    <ion-col width-100 *ngFor="let item of itm.items">
                    <ion-row>
                      <ion-col *ngIf="item.status === status" no-padding width-33 class="magin-right-10-custom">
                          <preload-image [ratio]="{w:1, h:1}" [src]="item.product.image[0].url"></preload-image>
                        </ion-col>
                         <ion-col *ngIf="item.status === status">
                            <h3 class="h3-name">{{itm.docno}}</h3>
                            <p>{{item.product.name}}</p>
                            <p>{{item.qty}} qty</p>
                            <p class="color-orenge-custom">{{item.product.price | number}} Baht</p>
                            <p text-right class="color-green-custom">{{item.status}}</p>
                        </ion-col> 
                    </ion-row>
                </ion-col>
                </ion-row>
  </button>
</ion-list> -->
<div *ngFor="let itm of items">
  <div *ngFor="let item of itm.items">
    <ion-list *ngIf="item.status === status">
      <ion-item>
        <ion-row>
          <ion-col no-padding width-33 class="magin-right-10-custom">
            <preload-image [ratio]="{w:1, h:1}" [src]="item.product.image[0].url"></preload-image>
          </ion-col>
          <ion-col *ngIf="item.status === status">
              <h3 class="h3-name">{{itm.docno}}</h3>
              <p>{{item.product.name}}</p>
              <p>{{item.qty}} qty</p>
              <p class="color-orenge-custom">{{item.product.price | number}} Baht</p>
              <p text-right class="color-green-custom">{{item.status}}</p>
          </ion-col> 
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</div>